.chunkers .react-tabs__tab:focus::after {
  display: none;
}

.chunkers .react-tabs__tab:focus {
  outline: 2px solid var(--accent-color);
}

.chunkers .react-tabs__tab-panel label {
  margin-right: 0.5ch;
}
