.options {
  margin-bottom: 2rem;
}

.options div label {
  margin-right: 0.5ch;
  text-align: left;
  grid-area: label;
  align-self: end;
}

.options div select,
.options div input {
  font-size: inherit;
  transition: border-color 0.25s;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 0.25em 0.4em;
  grid-area: input;
  height: 2em;
}

.options div select:focus-visible,
.options div select:focus,
.options div input:focus,
.options div input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.options div p {
  grid-area: info;
  margin: 0.2em 0 0.5em 0;
  font-size: 0.8em;
}

.options div {
  margin-bottom: 0.5rem;
  display: grid;
  gap: 2%;
  grid-template-columns: 29% 69%;
  grid-template-rows: auto;
  grid-template-areas:
    "label input"
    "info info";
}
