* {
  box-sizing: border-box;
}

:root {
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--font-stack);
  line-height: 1.5;
  font-weight: 400;
  font-size: 21px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #242424;
  --background-darker: #171717;
  --text-color: rgba(255, 255, 255, 0.87);
  --accent-color: #646cff;
  --accent-darker: #535bf2;
  --accent-secondary: #732d80;
  --button-background: #1a1a1a;
  --border-color: #171717;

  --site-width: 800px;
}

/* Layout */
html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Links and buttons */
a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-darker);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --background-darker: #dfdfdf;
    --text-color: #213547;
    --accent-color: #646cff;
    --accent-darker: #747bff;
    --button-background: #f9f9f9;
    --border-color: #171717;
  }
}
